
/* Header and text*/
h1 {
    background-color: red;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

/* box containing gane and Info */
#contain1 {
    background: lightgray;
    margin: 5px;
    padding: 10px;
    height: 300px;
    width: 45%;
    opacity: 0.93;

}

/*reset button*/
nav {
    background-color: gray; /* gray */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

/* For the background */
body {
        background-image: url("../images/working_imagefile.png");
        background-size: 180%;
    
}